body{
    font-family: Lato;
    margin: 0;
}

.logo{
    color: #45C8FF;
}
.header nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Knewave', cursive !important;
    font-weight: 900;
    cursor: pointer;
    text-align: center;
} 
.header nav ul li a:hover{
    color: #45C8FF;
}

.navbar-brand{
    font-family: 'Knewave', cursive !important;
    color: #45C8FF;
}

.section{
    margin: 0;
    width: 100%;
}

.intro{
    text-align: left;
}

.cover{
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150vh;
}
main{
    position: absolute;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.mainContant{
    text-align: left;
    max-width: 850px;
}
.mainContant h3{
    text-align: center;
}
.mainContant ul{
    text-decoration: none;
    list-style-type: none;
    padding-left: 0px;
}

.containerInside{
max-width: 850px;
padding: 35px;
}
.section{
    margin: 0px;
    width: 100%;
    padding: 0px !important;
}

section h1{
    font-family: 'Knewave', cursive;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    background-color: #174356;
    width: 100%;
    padding: 40px;
    color: white;
}
.contact{
    background-color: #174356;
    color: white;
}
.contactContent{
    text-align: center;
}
.contact h3{
    text-align: center;
}

.contactintro{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;
}
.contactintro svg{
   margin: 5px;
}
.footer{
    width: 100%;
    height: 150px;
    color: white;
    text-align: center;
} 
section img{
    padding:20px;
    max-width: 850px;
}
.container-fluid h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #45C8FF;
    color:white;
    font-family: 'Knewave', cursive;
    padding-top: 10px;
    padding-bottom: 10px;
} 
@media screen and (max-width: 600px) {
    
    .header{
        position: absolute;
    }
    .header nav ul li {
        margin: 10px 50px 10px 50px;
        text-align: center;
    }
    section img{
        padding:20px;
        max-width: 100%;
    }
}